.show-container {
    margin-bottom: 50px;
    margin-top: 50px;
}

#show-buttons-container {
    display:flex;
    justify-content: space-between;
    margin-top: 0;
}

.show-container > .row {
    padding: 20px;
    border: solid 2px #c2c2c2;
    border-radius: 5px;
}

.green-border {
      border: solid 2px green !important;
}

.red-border {
      border: solid 2px red !important;
}

.collection-item.joined-count {
    background-color: #80aee7;
}

.collection-item.joined-count > span:last-child {
    margin-left: 5px;
}

.card-content.black-text > p {
    margin:10px;
}

.card-content.black-text > p > span {
    margin-left: 5px;
}

#posted-on {
    margin-top: 20px;
    text-align: right;
}

.collection-item.avatar > p:first-of-type {
    margin-bottom: 5px;
}

.collection-item.avatar > p:last-child {
    margin-top: 2px;
}