#buttons-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#rw_2_input, #rw_7_input{
    margin: 0;
}

#resetButton-container {
    display: flex;
    justify-content: flex-end;
}
