.card-action.expired {
    background-color:#ebaba3;
}

.card-action.expired > p {
   margin: 0;
}

.card-action.not-expired {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:white;
}

.expired-content {
    opacity: 0.6;
}

.joined {
    display: flex;
    justify-content: space-between;
}

.card-title > p:first-child {
    margin-bottom: 10px;
}

.schoolAndExpire-parag {
    font-size: 1.2rem;
}