#logo {
    display: block;
    margin: auto;
    padding: 40px;
}
.nav-wrapper {
    display: flex;
    justify-content: center;
    box-shadow: none;
    border-top: double 3px black;
}   
.button-collapse {
    color: black;
}


