.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.center-button {
    border-top: solid 1px grey;
    text-align: center !important;
}

.modal-content > p > i {
    margin-right: 5px;
}