.section {
    background-color: #e6f7ff;
    height: 80vh;
    display:flex;
    align-items: center;
}
.parallax-container {
    height: 100vh;
}
#welcome-heading {
    font-weight: lighter;
}
#connect-school-heading {
    font-weight: bold;
}